.speech{
    font-family: 'Times New Roman';
font-size: 11;
color: black;
}
.direction{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12;
    color: black;
    background-color: rgb(49, 172, 213);
}
.direction:hover{
    color: blue;
    background-color: lightgoldenrodyellow;
}
.imp{
        font-family: initial;        
        font-size: 13;
        color: blue;
}
.judge{
    font-family: cursive;
    font-size: 13.5;
    color: brown;
}
.poor_man{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13.7;
    color: rgb(23, 213, 106);
}
.imp:hover{
    
    text-shadow:2px 2px 3px darkgoldenrod;
}
.judge:hover{
    text-shadow: 2px 2px 3px black;
}
.poor_man:hover{
    text-shadow: 2px 2px 3px pink;
}
#actor{
    margin-top: 10px;
    margin-left: 25px;
    border: 5px  solid black;
    border-collapse: separate;
    box-sizing: border-box;
   
   
}
#actor th{
    color:rgb(68, 13, 250);
    text-align: center;
    padding: 20px;
}
#actor td{
    color: rgb(249, 9, 9);
    text-align: center;
    padding: 20px;
    font-weight: bold;
}
#actor tr:nth-child(odd){
    background: yellow 20px;
}
#actor tr:nth-child(even){
    background: rgb(14, 170, 197);
}
ul.navbar-horizontal{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
ul.navbar-horizontal li {
    float:left; 
    color:#000;
    background-color:rgb(18, 217, 134)
    
    }
    ul.navbar-horizontal a {
    display:block;
    padding:8px;
    text-align: center;
    }
    ul.navbar-horizontal a:hover {
    background-color: #555;
    color:white;
    }